/* -Spacing System (PX):
    2 / 4 / 6 / 8 / 10 / 12 / 14 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    
    -Font Size (px):
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 /  62 / 74 / 86 / 98
    -COLORS:  
    Dark Blue #003366 => Header, footer, trust
    Forest Green #228B22 => Secondary color for highlights
    Gold #FFD700 => Accent color (buttons, icons)
    Cream White #FFF8E1 => Backgrounds, service cards
    Light Gray #F5F5F5 => Section backgrounds
    Dark Gray #333333 => Body text (high readability)
    White #FFFFFF => Clean layouts, modals

    -FONTS:
    Headings (H1-H3) Dubai Bold
    Body Text Cairo Regular
    English Version Montserrat
    Buttons / CTA Dubai Medium / Montserrat
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* In global.css or index.css */

html[lang="ar"] {
  font-family: "Cairo", sans-serif;
}

html[lang="en"] {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff8e1;

  font-family: inherit;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 4rem 1.2rem 0;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* margin-top: 3.2rem; */
  padding-bottom: 1.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-flex;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  background: none;
  border: none;
  transition: all 1s;
}

.btn-call,
.btn-whatsapp {
  padding: 1.6rem 3.2rem;
}

.btn.btn-call {
  background-color: #003366;
  color: #b3c2d1;
}

.btn.btn-whatsapp {
  background-color: #25d366;
  color: #d3f6e0;
}

.btn.btn-call:hover {
  background-color: #002244;
}

.hero-contact .btn-whatsapp:hover {
  background-color: #128c7e;
}

.btn-whatsapp:focus {
  box-shadow: 0 0 0 0.8 rgba(37, 211, 101, 0.5);
}

*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.8rem rgba(0, 51, 102, 0.5); */
}
